
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR&display=swap');

h1, h2, h3, h4 {
font-family: 'Noto Sans KR', sans-serif;
font-weight: bolder;
}

h2 {
border-bottom: solid 2px #BFD7ED;
}

p, ul, li, a {
font-family: 'Montserrat', sans-serif;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #189AB4;
}

h1 {
  font-size: 8vh;
}
 h2 {
   font-size: 7vh;
 }

 h3 {
   font-size: 6vh;
 }

 h4 {
   font-size: 5vh;
 }

 p, a, li {
   font-size: 4vh;
 }

 .nav {
   background-color: black;
 }

 body {
   margin-left: 0.5%;
   margin-right: 0.5%;
   margin-bottom: 0.2%;
 }
