@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Merriweather&display=swap');

body {
  background-color: white;
  background-image: url("images/sheep.jpg");
}

h2 {
  font-family: 'Merriweather', serif;
  color: black;
  text-align: center;
  font-size: 10vh;
}

h3 {
  font-family: 'Merriweather', serif;
  color: black;
  text-align: center;
  font-size: 8vh;
}

p {
  font-family: 'Merriweather', serif;
  color: black;
  text-align: center;
  font-size: 5vh;
}

#introduction {
  margin: 2%;
  padding: 2%;
  border-radius: 20px;
  background-color: rgba(58, 83, 155, 1);
}

ul {
  margin-left: 0;
  margin-right: 0;
  display: flex;

}

li {
  list-style-type: none;
  margin: 0 4vw;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 3.5vh;

}

a:hover {
  background-color: #B5E5CF;
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 3.5vh;
}

nav {
  width: 100%;
  background-color: #77dd77;
}

.card {
  margin: 5%;
  border-radius: 20px;
}

.button:hover {
  background-color: indigo;
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 4vh;
}

.button {
  text-decoration: none;
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 4vh;
}

button {
  background-color: #6495ED;
  margin-bottom: 4%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 2%;
  border-radius: 20px;
}

button:hover {
  background-color: indigo;
  margin-bottom: 4%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 2%;
  border-radius: 20px;
}
